@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1619682695899'); /* IE9 */
  src: url('iconfont.eot?t=1619682695899#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkQAAAJQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYAE2AiQDCAsGAAQgBYRtBy8bhQXIvkA2hgOtPyIh0jHsMscO7ZD79cif14K5UDzEw/dHv3Pfu23r4jsvK8VRlEgTFUhcYpEE0iTw95t7M0Kh83xZfjUihb6Qu17LaQYkx5afn57RKBQJt57gGQIEDjnAi1+leQAcWNlAXF/q/NUCnIGctFk1Apsye/0+ce/0/wZQIPMB5bgXrTGoC6iLAynAvbBNVkIZN4xd4BLOE2g3zdJ3vrSxDaOSNS0Qz0aHMJpzScmirUJzzdoUH5q0lrdy4D38fvwLYpSiqbLyrp4WE5j5Y8fVG3v0CW4C2tyEik0gibva0IUBwRgD2kOD5sG+soM/jYZvFHvVCfbXWZmdYBLy70ngCm81WuC2+hoARkc9jhhwO6IfDauHvz+HKLlr6Nn029d2v2yqwXe7Z17EmkE/q1GLQNC228FHOxL8fvEaVqRa0LoPc/AvBD1bUhdZhpKqoLazGDhHVbt2NGBbv7+x6qETx0KroRGWFlMpqlaLZNI30aTDIZq1OkK7DcubOwxgAyLbsO4cIPR6RdHtB1WvLzLpv2gy7B/NemMA7R6CPTsshxmPKRRKMDpCE9eVckwyHmVvkt4rQs6KQuYucWe86DteMbpMFfEcC7p9HYgoVFyXuAQuo6KoseE6o1icVKTpua6qe5MT1yWMO8NISJAEihxBRqxWUX53MV76/Cai7SmEuKWpxruLsI4ZHPkcXg9yWV71arqXazr7tIAQClJYrYSWwChSKNRQUz8qQ2LCkY4INHpcu53qK3fWV5ZftwfaWZoS9pCq6cXoVAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1619682695899') format('woff'),
  url('iconfont.ttf?t=1619682695899') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1619682695899#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e955";
}

