<div class="main" *ngIf="case">
  <div class="headerWrapper">
    <img [src]="case.icon.url"/>
    <div class="contentWrapper">
      <div class="titleWrapper">
        <div>{{case.label}}</div>
        <div>
          ({{case.remark}})
        </div>
      </div>
      <p class="desc">{{case.desc}}</p>
    </div>
  </div>
  <div class="actionWrapper">
    <button (click)="onCopy()">复制链接
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>
    <button (click)="onDownload()">下载演示
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>
  </div>

  <img [src]="case.detail.url" />
</div>
