@mixin marginTop {
  @apply mt-2;
}
.main {
  @apply mt-16;
  .headerWrapper {
    @apply flex;
    @apply w-full;
    >img {
      @apply h-20;
      @apply w-20;
    }
    >div {
      @apply box-border;
      @apply ml-2;
      @apply flex flex-col;
      >div:last-child {
        @apply mt-20;
      }

    }
    .titleWrapper {
      @apply flex;
      >div:last-child {
        @apply text-primay;
        @apply ml-20;
      }
      >div:first-child {
        @apply font-black;
      }
    }
  }
  .desc {
    @apply leading-10;
    @apply text-gray-500;
  }
  >img {
    @apply mt-20;
    @apply w-full h-full;
  }
}

.titleWrapper {

}

.actionWrapper {
  @apply w-full
    flex justify-end;
    @include marginTop;
    >button:last-child {
      @apply ml-2
      p-2
      text-white
      bg-primay
      rounded-2xl
      ;
    }
    >button:first-child {
      @apply rounded-2xl
      shadow-lg
      text-gray-500
      p-2
      ml-2;
    }
    button:focus {
      outline: none;
    }
  >button {
    @apply flex justify-center items-center;
  }
}

.sm {
  background: #EEF0F3;
  min-height: 100vh;
  width: 100vw;
  @apply flex flex-col;
  .detail {
    @apply flex flex-col items-center
      bg-white
      rounded
      p-4
      mx-2;
    .sm-icon {
      @apply h-16 w-16
        mt-8
      ;
    }
    >h1 {
      @apply mt-4
        text-2xl
      ;
    }
    >p {
      @apply text-gray-400;
      @include marginTop;
    }
    .line {
      @apply w-full border border-solid border-gray-200
        mt-4;
      ;
    }
    >h2 {
      @include marginTop;
    }
    .sm-desc {
      @apply leading-8;
    }
    .sm-detal {
      @include marginTop;
    }
  }
}

.breadcrumb {
  @apply px-4 my-6;
}

