<button nz-button nzType="dashed" class='add' (click)="onSelectFile()">添加</button>
<nz-modal
  [nzVisible]="uploadReport.isUpload"
  nzCentered
  [nzClosable]="false"
  [nzFooter]="null"
>
    <div class="dialogWrapper">
      <div class="imgWrapper">
        <img src="../../../../../../assets/svg/undraw_uploading_go67.svg" />
      </div>
      <p>上传中...</p>
      <nz-progress [nzPercent]="uploadReport.progress"></nz-progress>
    </div>
</nz-modal>

<nz-modal
  [nzVisible]="isVisitedForm"
  [nzClosable]="false"
  [nzFooter]="null"
  [nzWidth]="'50%'"
  (nzOnCancel)="onCancel()"
>
  <app-form
    *ngIf="packageInfo.id !== 0"
    (created)="onCreated($event)"
    [packageInfo]="packageInfo"
  ></app-form>
</nz-modal>

<input
  accept=".apk"
  type="file"
  ngModel
  (input)="onSelectedFile()"
  #file/>
