@import "../../../pages/index.styles";

.main {
  @apply bg-primay;
  @apply flex justify-center;
  @apply w-full;
  @apply h-16;
  .center {
    @apply w-content;
    @apply px-1 pt-1;
    @apply flex flex-col justify-between;
    @apply box-border;
    > img {
      @apply w-28;
    }
    .nav {
      @apply grid grid-cols-12 gap-4
      text-white;
      >div {
        @apply
          flex justify-center items-center
          h-8
          xl:pb-2
          ;

      }
    }
  }
}

.active {
  @apply
   bg-white
   rounded-t-lg
   text-gray-500
  ;
}

/**
  * 响应手机设备
  */
@media (max-width: $max-width) {
  .main {
    display: none;
  }
  .sm {
    display: flex;
  }
}

/**
* 手机以外的设备
*/

@media (min-width: $min-width) {
  .main {
    display: flex;
  }
  .sm {
    display: none;
  }
}

.sm {
  @apply px-8 py-2
  bg-primay
    h-16
    justify-between items-center
  ;
  >img {
    @apply h-6;
  }
  >i {
    @apply text-white;
  }
}

.menuWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: .4;
}

.menuRender {
  @apply justify-center flex items-center;
  >div {
    @apply bg-white
    w-full
    p-1
    grid grid-cols-1 gap-4;
    >div {
      @apply py-4 px-12
        text-xl;
    }
  }
}
.smActive[data-device="sm"] {
  @apply text-primay
    bg-blue-300;
}
