.headerWrapper {
  @apply flex justify-between items-center;
  @apply w-full;
  @apply my-1;
  .actionWrapper {
    button:last-child {
      @apply ml-5;
    }
    button:last-child {
      @apply text-white;
      @apply bg-primay;
    }
    button {
      cursor: pointer;
      @apply h-6 w-20;
      @apply border-0;
      @apply rounded;
      @apply text-gray-500;
      >div {
        align-items: center;
        @apply justify-center;
        @apply flex;
      }
    }
  }
  .title {
    @apply p-2;
    @apply bg-primay;
    @apply text-white;
    @apply text-sm;
    @apply py-4 px-2;
  }
}

.contentWrapper {
  @apply flex;
  @apply w-full h-52;
  @apply py-1;
  @apply border-2 border-solid border-gray-200;
  border-left: none;
  border-right: none;
  border-top: none;
  $divNo1Width:30%;
  $divNo2Width:30%;
  $divNo3Width: 100% - $divNo1Width - $divNo2Width;
  div:first-child{
    width: $divNo1Width;
    >img {
      width: 100%;
      height: 100%;
    }
  }
  div:nth-child(2){
    width: $divNo2Width;
    @apply text-gray-500;
    @apply px-5;
    box-sizing: border-box;
    position: relative;
    div:first-child {
      @apply h-full w-full;
    }
    .showDetail {
      position: absolute;
      @apply h-1 w-16;
      background: #8D94EC;
      bottom: 0;
      @apply right-0;
    }
  }
  div:nth-child(3){
    width: $divNo3Width;
    @apply flex justify-between;
    @apply h-full;
  }
  .desc {
    @apply leading-10;
    @apply overflow-ellipsis overflow-hidden;
  }
}
