<div>
  <div class="headerWrapper">
    <div class="title bg-primary h-7 flex justify-center items-center"><div>- {{title}} -</div></div>
    <div class="actionWrapper">
      <button (click)="handleShowDetail()">
        <div> <div> 查看详情 </div> <div class="iconfont icon-right"></div> </div>
      </button>
      <button class="download">
        <div> <div> 下载演示 </div> <div class="iconfont icon-right"></div> </div>
      </button>
    </div>
  </div>
  <div class="contentWrapper">
    <div> <img [src]="cover.url" /> </div>
    <div>
      <div class="desc">{{desc}}</div>
      <div class="showDetail"></div>
    </div>
    <div>
      <img
        *ngFor="let item of banner"
        [src]="item.url"
      />
    </div>
  </div>
</div>
