<div>
  <div class="headerWrapper">
    <div class="title bg-primary h-7 flex justify-center items-center"><div>- {{title}} -</div></div>
    <div class="actionWrapper">
      <button (click)="handleShowDetail()">
        <div> <div> 查看详情 </div> <div class="iconfont icon-right"></div> </div>
      </button>
      <button class="download">
        <div> <div> 下载演示 </div> <div class="iconfont icon-right"></div> </div>
      </button>
    </div>
  </div>
  <div class="contentWrapper">
    <div> <img src="../../assets/images/caseBanner@2x.png" /> </div>
    <div>
      <div class="desc">{{desc}}</div>
      <div class="showDetail"></div>
    </div>
    <div>
      <img src="../../assets/images/example1@2x.png" />
      <img src="../../assets/images/example2@2x.png" />
      <img src="../../assets/images/example3@2x.png" />
      <img src="../../assets/images/example4@2x.png" />
    </div>
  </div>
</div>
