<app-breadcrumb [title]="'分类'"></app-breadcrumb>
<div class="contentWrapper">
  <div class="panel">
    <div>
      <div>全部应用</div>
      <div>{{summary.total}}</div>
    </div>
    <div>
      <div>安卓应用</div>
      <div>{{summary.android}}</div>
    </div>
    <div>
      <div>苹果应用</div>
      <div>{{summary.ios}}</div>
    </div>
  </div>
  <div class='content'>
    <div class='header'>
      <div>应用列表</div>
      <div>
        <nz-radio-group [(ngModel)]="size">
          <label nz-radio-button nzValue="large">全部</label>
          <label nz-radio-button nzValue="default">安卓</label>
          <label nz-radio-button nzValue="small">苹果</label>
        </nz-radio-group>
        <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入应用名称">
              <nz-input-group nzPrefixIcon="user">
                <input formControlName="appName" nz-input placeholder="请输入应用名称" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">搜索</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <app-add
      (created)="onCreate($event)"
    ></app-add>
    <div nz-row [nzGutter]="[24, 24]">
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-table
          #basicTable
          [nzData]="pageData.items"
          [nzShowPagination]="false"
          [nzLoading]="loading"
        >
          <thead>
          <tr>
            <th>ID</th>
            <th>应用名</th>
            <th>版本号</th>
            <th>图标</th>
            <th>类型</th>
            <th>封面</th>
            <th>展示图</th>
            <th>详情图</th>
            <th>说明</th>
            <th>标注</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of pageData.items">
            <td>{{ item.id }}</td>
            <td>{{ item.label }}</td>
            <td>{{ item.version }}</td>
            <td> <img nz-image width="30rem" height="30rem" [nzSrc]="item.icon.url" /> </td>
            <td>{{ item.type }}</td>
            <td> <img nz-image width="30rem" height="30rem" [nzSrc]="item.cover.url" /> </td>
            <td>
              <img
                *ngFor="let i of item.banner"
                nz-image
                width="30rem"
                height="30rem"
                [nzSrc]="i.url"
              />
            </td>
            <td> <img nz-image width="30rem" height="30rem" [nzSrc]="item.detail.url" /> </td>
            <td>{{item.desc}}</td>
            <td>{{item.remark}}</td>
            <td>
              <div nz-row [nzGutter]="[0, 0]">
                <div nz-col class="action gutter-row" [nzSpan]="8"
                     (click)="onUpdate(item)"
                >修改</div>
                <div nz-col class="action gutter-row" [nzSpan]="8"
                     (click)="onIterate(item.id)"
                >上传新包</div>
                <div
                  nz-col
                  class="action gutter-row"
                  [nzSpan]="8"
                  nz-popconfirm
                  nzPopconfirmTitle="是否删除？"
                  (nzOnConfirm)="onDelete(item.id)"
                  nzPopconfirmPlacement="topLeft"
                  nz-button
                  nzCancelText="取消"
                  nzOkText="确定"
                >删除</div>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
      <div nz-col class="paginationWrapper" [nzSpan]="24">
        <nz-pagination
          [nzPageIndex]="pageInfo.page"
          [nzPageSize]="pageInfo.pageSize"
          [nzTotal]="pageData.total"
          (nzPageIndexChange)="onChange($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [nzVisible]="isVisitEditForm"
  [nzClosable]="false"
  [nzFooter]="null"
  [nzWidth]="'50%'"
  (nzOnCancel)="onCancelUpdate()"
>
  <app-edit
    *ngIf="isVisitEditForm"
    [editData]="editData"
    (finished)="onFinished($event)"
  ></app-edit>
</nz-modal>
<app-upload-package
  *ngIf="isVisitUploadPackage"
  (uploaded)="onUploadPackage($event)"
></app-upload-package>
