@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

@import "assets/styles/reset";
@import "assets/fonts/iconfont";


.cdk-drag[cdkdrag] {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
