@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

@import "assets/styles/reset";
@import "assets/fonts/iconfont";

$themeColor: #415DFB;
$contentWidth: 70%;

$fontSize: 37.5;
@function px2rem($px) {
  @return ($px / $fontSize) + rem;
}

@mixin flex { display: flex; }
@mixin flex-col { flex-direction: column }
@mixin justify-center {justify-content: center}
@mixin justify-between { justify-content: space-between }
@mixin items-center { justify-items: center }


@mixin bg-white {background-color: white}
@mixin bg-red {background-color: red}

@mixin border-box {
  box-sizing: border-box;
}

@mixin p-0_5 { padding: px2rem(10) }
@mixin p-1 { padding: px2rem(20) }
@mixin py-0_5 { padding-top:px2rem(10); padding-bottom: px2rem(10) }
@mixin py-1 { padding-top:px2rem(20); padding-bottom: px2rem(20) }

@mixin px-1 { padding-left:px2rem(20); padding-right: px2rem(20) }
@mixin px-2 { padding-left:px2rem(30); padding-right: px2rem(30) }
@mixin px-3 { padding-left:px2rem(40); padding-right: px2rem(40) }
@mixin px-4 { padding-left:px2rem(50); padding-right: px2rem(50) }
@mixin px-5 { padding-left:px2rem(60); padding-right: px2rem(60) }
@mixin px-6 { padding-left:px2rem(70); padding-right: px2rem(70) }
@mixin px-7 { padding-left:px2rem(80); padding-right: px2rem(80) }
@mixin px-8 { padding-left:px2rem(90); padding-right: px2rem(90) }
@mixin px-9 { padding-left:px2rem(100); padding-right: px2rem(100) }
@mixin px-10 { padding-left:px2rem(110); padding-right: px2rem(110) }
@mixin px-11 { padding-left:px2rem(120); padding-right: px2rem(120) }
@mixin px-12 { padding-left:px2rem(130); padding-right: px2rem(130) }
@mixin px-13 { padding-left:px2rem(140); padding-right: px2rem(140) }
@mixin px-14 { padding-left:px2rem(150); padding-right: px2rem(150) }
@mixin px-15 { padding-left:px2rem(160); padding-right: px2rem(160) }
@mixin px-16 { padding-left:px2rem(170); padding-right: px2rem(170) }
@mixin px-17 { padding-left:px2rem(180); padding-right: px2rem(180) }
@mixin px-18 { padding-left:px2rem(190); padding-right: px2rem(190) }
@mixin px-19 { padding-left:px2rem(200); padding-right: px2rem(200) }
@mixin px-20 { padding-left:px2rem(210); padding-right: px2rem(210) }
@mixin px-21 { padding-left:px2rem(220); padding-right: px2rem(220) }
@mixin px-22 { padding-left:px2rem(230); padding-right: px2rem(230) }
@mixin px-23 { padding-left:px2rem(240); padding-right: px2rem(240) }
@mixin px-24 { padding-left:px2rem(250); padding-right: px2rem(250) }
@mixin px-25 { padding-left:px2rem(260); padding-right: px2rem(260) }
@mixin px-26 { padding-left:px2rem(270); padding-right: px2rem(270) }
@mixin px-27 { padding-left:px2rem(280); padding-right: px2rem(280) }
@mixin px-28 { padding-left:px2rem(290); padding-right: px2rem(290) }
@mixin px-29 { padding-left:px2rem(300); padding-right: px2rem(300) }
@mixin px-30 { padding-left:px2rem(310); padding-right: px2rem(310) }
@mixin px-31 { padding-left:px2rem(320); padding-right: px2rem(320) }
@mixin px-32 { padding-left:px2rem(330); padding-right: px2rem(330) }
@mixin px-33 { padding-left:px2rem(340); padding-right: px2rem(340) }
@mixin px-34 { padding-left:px2rem(350); padding-right: px2rem(350) }
@mixin px-35 { padding-left:px2rem(360); padding-right: px2rem(360) }
@mixin px-36 { padding-left:px2rem(370); padding-right: px2rem(370) }
@mixin px-37 { padding-left:px2rem(380); padding-right: px2rem(380) }
@mixin px-38 { padding-left:px2rem(390); padding-right: px2rem(390) }
@mixin px-39 { padding-left:px2rem(400); padding-right: px2rem(400) }
@mixin px-40 { padding-left:px2rem(410); padding-right: px2rem(410) }
@mixin px-41 { padding-left:px2rem(420); padding-right: px2rem(420) }
@mixin px-42 { padding-left:px2rem(430); padding-right: px2rem(430) }
@mixin px-43 { padding-left:px2rem(440); padding-right: px2rem(440) }
@mixin px-44 { padding-left:px2rem(450); padding-right: px2rem(450) }
@mixin px-45 { padding-left:px2rem(460); padding-right: px2rem(460) }
@mixin px-46 { padding-left:px2rem(470); padding-right: px2rem(470) }
@mixin px-47 { padding-left:px2rem(480); padding-right: px2rem(480) }
@mixin px-48 { padding-left:px2rem(490); padding-right: px2rem(490) }
@mixin px-49 { padding-left:px2rem(500); padding-right: px2rem(500) }
@mixin px-50 { padding-left:px2rem(510); padding-right: px2rem(510) }
@mixin px-51 { padding-left:px2rem(520); padding-right: px2rem(520) }
@mixin px-52 { padding-left:px2rem(530); padding-right: px2rem(530) }
@mixin px-53 { padding-left:px2rem(540); padding-right: px2rem(540) }
@mixin px-54 { padding-left:px2rem(550); padding-right: px2rem(550) }
@mixin px-55 { padding-left:px2rem(560); padding-right: px2rem(560) }
@mixin px-56 { padding-left:px2rem(570); padding-right: px2rem(570) }
@mixin px-57 { padding-left:px2rem(580); padding-right: px2rem(580) }
@mixin px-58 { padding-left:px2rem(590); padding-right: px2rem(590) }
@mixin px-59 { padding-left:px2rem(600); padding-right: px2rem(600) }
@mixin px-60 { padding-left:px2rem(610); padding-right: px2rem(610) }
@mixin px-61 { padding-left:px2rem(620); padding-right: px2rem(620) }
@mixin px-62 { padding-left:px2rem(630); padding-right: px2rem(630) }
@mixin px-63 { padding-left:px2rem(640); padding-right: px2rem(640) }
@mixin px-64 { padding-left:px2rem(650); padding-right: px2rem(650) }

@mixin w-1 {width: px2rem(20)}
@mixin w-2 {width: px2rem(30)}
@mixin w-3 {width: px2rem(40)}
@mixin w-4 {width: px2rem(50)}
@mixin w-5 {width: px2rem(60)}
@mixin w-6 {width: px2rem(70)}
@mixin w-7 {width: px2rem(80)}
@mixin w-8 {width: px2rem(90)}
@mixin w-9 {width: px2rem(100)}
@mixin w-10 {width: px2rem(110)}
@mixin w-11 {width: px2rem(120)}
@mixin w-12 {width: px2rem(130)}
@mixin w-13 {width: px2rem(140)}
@mixin w-14 {width: px2rem(150)}
@mixin w-15 {width: px2rem(160)}
@mixin w-16 {width: px2rem(170)}
@mixin w-17 {width: px2rem(180)}
@mixin w-18 {width: px2rem(190)}
@mixin w-19 {width: px2rem(200)}
@mixin w-20 {width: px2rem(210)}
@mixin w-21 {width: px2rem(220)}
@mixin w-22 {width: px2rem(230)}
@mixin w-23 {width: px2rem(240)}
@mixin w-24 {width: px2rem(250)}
@mixin w-25 {width: px2rem(260)}
@mixin w-26 {width: px2rem(270)}
@mixin w-27 {width: px2rem(280)}
@mixin w-28 {width: px2rem(290)}
@mixin w-29 {width: px2rem(300)}
@mixin w-30 {width: px2rem(310)}
@mixin w-31 {width: px2rem(320)}
@mixin w-32 {width: px2rem(330)}
@mixin w-33 {width: px2rem(340)}
@mixin w-34 {width: px2rem(350)}
@mixin w-35 {width: px2rem(360)}
@mixin w-36 {width: px2rem(370)}
@mixin w-37 {width: px2rem(380)}
@mixin w-38 {width: px2rem(390)}
@mixin w-39 {width: px2rem(400)}
@mixin w-40 {width: px2rem(410)}
@mixin w-41 {width: px2rem(420)}
@mixin w-42 {width: px2rem(430)}
@mixin w-43 {width: px2rem(440)}
@mixin w-44 {width: px2rem(450)}
@mixin w-45 {width: px2rem(460)}
@mixin w-46 {width: px2rem(470)}
@mixin w-47 {width: px2rem(480)}
@mixin w-48 {width: px2rem(490)}
@mixin w-49 {width: px2rem(500)}
@mixin w-50 {width: px2rem(510)}
@mixin w-51 {width: px2rem(520)}
@mixin w-52 {width: px2rem(530)}
@mixin w-53 {width: px2rem(540)}
@mixin w-54 {width: px2rem(550)}
@mixin w-55 {width: px2rem(560)}
@mixin w-56 {width: px2rem(570)}
@mixin w-57 {width: px2rem(580)}
@mixin w-58 {width: px2rem(590)}
@mixin w-59 {width: px2rem(600)}
@mixin w-60 {width: px2rem(610)}
@mixin w-61 {width: px2rem(620)}
@mixin w-62 {width: px2rem(630)}
@mixin w-63 {width: px2rem(640)}
@mixin w-64 {width: px2rem(650)}
@mixin w-full {width: 100%}
@mixin w-screen {width: 100vw}

@mixin h-1 {height: px2rem(20)}
@mixin h-2 {height: px2rem(30)}
@mixin h-3 {height: px2rem(40)}
@mixin h-4 {height: px2rem(50)}
@mixin h-5 {height: px2rem(60)}
@mixin h-6 {height: px2rem(70)}
@mixin h-7 {height: px2rem(80)}
@mixin h-8 {height: px2rem(90)}
@mixin h-9 {height: px2rem(100)}
@mixin h-10 {height: px2rem(110)}
@mixin h-11 {height: px2rem(120)}
@mixin h-12 {height: px2rem(130)}
@mixin h-13 {height: px2rem(140)}
@mixin h-14 {height: px2rem(150)}
@mixin h-15 {height: px2rem(160)}
@mixin h-16 {height: px2rem(170)}
@mixin h-17 {height: px2rem(180)}
@mixin h-18 {height: px2rem(190)}
@mixin h-19 {height: px2rem(200)}
@mixin h-20 {height: px2rem(210)}
@mixin h-21 {height: px2rem(220)}
@mixin h-22 {height: px2rem(230)}
@mixin h-23 {height: px2rem(240)}
@mixin h-24 {height: px2rem(250)}
@mixin h-25 {height: px2rem(260)}
@mixin h-26 {height: px2rem(270)}
@mixin h-27 {height: px2rem(280)}
@mixin h-28 {height: px2rem(290)}
@mixin h-29 {height: px2rem(300)}
@mixin h-30 {height: px2rem(310)}
@mixin h-31 {height: px2rem(320)}
@mixin h-32 {height: px2rem(330)}
@mixin h-33 {height: px2rem(340)}
@mixin h-34 {height: px2rem(350)}
@mixin h-35 {height: px2rem(360)}
@mixin h-36 {height: px2rem(370)}
@mixin h-37 {height: px2rem(380)}
@mixin h-38 {height: px2rem(390)}
@mixin h-39 {height: px2rem(400)}
@mixin h-40 {height: px2rem(410)}
@mixin h-41 {height: px2rem(420)}
@mixin h-42 {height: px2rem(430)}
@mixin h-43 {height: px2rem(440)}
@mixin h-44 {height: px2rem(450)}
@mixin h-45 {height: px2rem(460)}
@mixin h-46 {height: px2rem(470)}
@mixin h-47 {height: px2rem(480)}
@mixin h-48 {height: px2rem(490)}
@mixin h-49 {height: px2rem(500)}
@mixin h-50 {height: px2rem(510)}
@mixin h-51 {height: px2rem(520)}
@mixin h-52 {height: px2rem(530)}
@mixin h-53 {height: px2rem(540)}
@mixin h-54 {height: px2rem(550)}
@mixin h-55 {height: px2rem(560)}
@mixin h-56 {height: px2rem(570)}
@mixin h-57 {height: px2rem(580)}
@mixin h-58 {height: px2rem(590)}
@mixin h-59 {height: px2rem(600)}
@mixin h-60 {height: px2rem(610)}
@mixin h-61 {height: px2rem(620)}
@mixin h-62 {height: px2rem(630)}
@mixin h-63 {height: px2rem(640)}
@mixin h-64 {height: px2rem(650)}
@mixin h-full {height: 100%}
@mixin h-screen {height: 100vh}

@mixin text-white { color: white}

@mixin my-1 { margin-top: px2rem(20); margin-bottom: px2rem(20)}
@mixin my-2 { margin-top: px2rem(30); margin-bottom: px2rem(30)}
@mixin my-3 { margin-top: px2rem(40); margin-bottom: px2rem(40)}
@mixin my-4 { margin-top: px2rem(50); margin-bottom: px2rem(50)}
@mixin my-5 { margin-top: px2rem(60); margin-bottom: px2rem(60)}
@mixin my-6 { margin-top: px2rem(70); margin-bottom: px2rem(70)}
@mixin my-7 { margin-top: px2rem(80); margin-bottom: px2rem(80)}
@mixin my-8 { margin-top: px2rem(90); margin-bottom: px2rem(90)}
@mixin my-9 { margin-top: px2rem(100); margin-bottom: px2rem(100)}
@mixin my-10 { margin-top: px2rem(110); margin-bottom: px2rem(110)}
@mixin my-11 { margin-top: px2rem(120); margin-bottom: px2rem(120)}
@mixin my-12 { margin-top: px2rem(130); margin-bottom: px2rem(130)}
@mixin my-13 { margin-top: px2rem(140); margin-bottom: px2rem(140)}
@mixin my-14 { margin-top: px2rem(150); margin-bottom: px2rem(150)}
@mixin my-15 { margin-top: px2rem(160); margin-bottom: px2rem(160)}
@mixin my-16 { margin-top: px2rem(170); margin-bottom: px2rem(170)}
@mixin my-17 { margin-top: px2rem(180); margin-bottom: px2rem(180)}
@mixin my-18 { margin-top: px2rem(190); margin-bottom: px2rem(190)}
@mixin my-19 { margin-top: px2rem(200); margin-bottom: px2rem(200)}
@mixin my-20 { margin-top: px2rem(210); margin-bottom: px2rem(210)}
@mixin my-21 { margin-top: px2rem(220); margin-bottom: px2rem(220)}
@mixin my-22 { margin-top: px2rem(230); margin-bottom: px2rem(230)}
@mixin my-23 { margin-top: px2rem(240); margin-bottom: px2rem(240)}
@mixin my-24 { margin-top: px2rem(250); margin-bottom: px2rem(250)}
@mixin my-25 { margin-top: px2rem(260); margin-bottom: px2rem(260)}
@mixin my-26 { margin-top: px2rem(270); margin-bottom: px2rem(270)}
@mixin my-27 { margin-top: px2rem(280); margin-bottom: px2rem(280)}
@mixin my-28 { margin-top: px2rem(290); margin-bottom: px2rem(290)}
@mixin my-29 { margin-top: px2rem(300); margin-bottom: px2rem(300)}
@mixin my-30 { margin-top: px2rem(310); margin-bottom: px2rem(310)}
@mixin my-31 { margin-top: px2rem(320); margin-bottom: px2rem(320)}
@mixin my-32 { margin-top: px2rem(330); margin-bottom: px2rem(330)}
@mixin my-33 { margin-top: px2rem(340); margin-bottom: px2rem(340)}
@mixin my-34 { margin-top: px2rem(350); margin-bottom: px2rem(350)}
@mixin my-35 { margin-top: px2rem(360); margin-bottom: px2rem(360)}
@mixin my-36 { margin-top: px2rem(370); margin-bottom: px2rem(370)}
@mixin my-37 { margin-top: px2rem(380); margin-bottom: px2rem(380)}
@mixin my-38 { margin-top: px2rem(390); margin-bottom: px2rem(390)}
@mixin my-39 { margin-top: px2rem(400); margin-bottom: px2rem(400)}
@mixin my-40 { margin-top: px2rem(410); margin-bottom: px2rem(410)}
@mixin my-41 { margin-top: px2rem(420); margin-bottom: px2rem(420)}
@mixin my-42 { margin-top: px2rem(430); margin-bottom: px2rem(430)}
@mixin my-43 { margin-top: px2rem(440); margin-bottom: px2rem(440)}
@mixin my-44 { margin-top: px2rem(450); margin-bottom: px2rem(450)}
@mixin my-45 { margin-top: px2rem(460); margin-bottom: px2rem(460)}
@mixin my-46 { margin-top: px2rem(470); margin-bottom: px2rem(470)}
@mixin my-47 { margin-top: px2rem(480); margin-bottom: px2rem(480)}
@mixin my-48 { margin-top: px2rem(490); margin-bottom: px2rem(490)}
@mixin my-49 { margin-top: px2rem(500); margin-bottom: px2rem(500)}
@mixin my-50 { margin-top: px2rem(510); margin-bottom: px2rem(510)}
@mixin my-51 { margin-top: px2rem(520); margin-bottom: px2rem(520)}
@mixin my-52 { margin-top: px2rem(530); margin-bottom: px2rem(530)}
@mixin my-53 { margin-top: px2rem(540); margin-bottom: px2rem(540)}
@mixin my-54 { margin-top: px2rem(550); margin-bottom: px2rem(550)}
@mixin my-55 { margin-top: px2rem(560); margin-bottom: px2rem(560)}
@mixin my-56 { margin-top: px2rem(570); margin-bottom: px2rem(570)}
@mixin my-57 { margin-top: px2rem(580); margin-bottom: px2rem(580)}
@mixin my-58 { margin-top: px2rem(590); margin-bottom: px2rem(590)}
@mixin my-59 { margin-top: px2rem(600); margin-bottom: px2rem(600)}
@mixin my-60 { margin-top: px2rem(610); margin-bottom: px2rem(610)}
@mixin my-61 { margin-top: px2rem(620); margin-bottom: px2rem(620)}
@mixin my-62 { margin-top: px2rem(630); margin-bottom: px2rem(630)}
@mixin my-63 { margin-top: px2rem(640); margin-bottom: px2rem(640)}
@mixin my-64 { margin-top: px2rem(650); margin-bottom: px2rem(650)}

@mixin ml-1 { margin-left: px2rem(20)}
@mixin ml-2 { margin-left: px2rem(30)}
@mixin ml-3 { margin-left: px2rem(40)}
@mixin ml-4 { margin-left: px2rem(50)}
@mixin ml-5 { margin-left: px2rem(60)}
@mixin ml-6 { margin-left: px2rem(70)}
@mixin ml-7 { margin-left: px2rem(80)}
@mixin ml-8 { margin-left: px2rem(90)}
@mixin ml-9 { margin-left: px2rem(100)}
@mixin ml-10 { margin-left: px2rem(110)}
@mixin ml-11 { margin-left: px2rem(120)}
@mixin ml-12 { margin-left: px2rem(130)}
@mixin ml-13 { margin-left: px2rem(140)}
@mixin ml-14 { margin-left: px2rem(150)}
@mixin ml-15 { margin-left: px2rem(160)}
@mixin ml-16 { margin-left: px2rem(170)}
@mixin ml-17 { margin-left: px2rem(180)}
@mixin ml-18 { margin-left: px2rem(190)}
@mixin ml-19 { margin-left: px2rem(200)}
@mixin ml-20 { margin-left: px2rem(210)}
@mixin ml-21 { margin-left: px2rem(220)}
@mixin ml-22 { margin-left: px2rem(230)}
@mixin ml-23 { margin-left: px2rem(240)}
@mixin ml-24 { margin-left: px2rem(250)}
@mixin ml-25 { margin-left: px2rem(260)}
@mixin ml-26 { margin-left: px2rem(270)}
@mixin ml-27 { margin-left: px2rem(280)}
@mixin ml-28 { margin-left: px2rem(290)}
@mixin ml-29 { margin-left: px2rem(300)}
@mixin ml-30 { margin-left: px2rem(310)}
@mixin ml-31 { margin-left: px2rem(320)}
@mixin ml-32 { margin-left: px2rem(330)}
@mixin ml-33 { margin-left: px2rem(340)}
@mixin ml-34 { margin-left: px2rem(350)}
@mixin ml-35 { margin-left: px2rem(360)}
@mixin ml-36 { margin-left: px2rem(370)}
@mixin ml-37 { margin-left: px2rem(380)}
@mixin ml-38 { margin-left: px2rem(390)}
@mixin ml-39 { margin-left: px2rem(400)}
@mixin ml-40 { margin-left: px2rem(410)}
@mixin ml-41 { margin-left: px2rem(420)}
@mixin ml-42 { margin-left: px2rem(430)}
@mixin ml-43 { margin-left: px2rem(440)}
@mixin ml-44 { margin-left: px2rem(450)}
@mixin ml-45 { margin-left: px2rem(460)}
@mixin ml-46 { margin-left: px2rem(470)}
@mixin ml-47 { margin-left: px2rem(480)}
@mixin ml-48 { margin-left: px2rem(490)}
@mixin ml-49 { margin-left: px2rem(500)}
@mixin ml-50 { margin-left: px2rem(510)}
@mixin ml-51 { margin-left: px2rem(520)}
@mixin ml-52 { margin-left: px2rem(530)}
@mixin ml-53 { margin-left: px2rem(540)}
@mixin ml-54 { margin-left: px2rem(550)}
@mixin ml-55 { margin-left: px2rem(560)}
@mixin ml-56 { margin-left: px2rem(570)}
@mixin ml-57 { margin-left: px2rem(580)}
@mixin ml-58 { margin-left: px2rem(590)}
@mixin ml-59 { margin-left: px2rem(600)}
@mixin ml-60 { margin-left: px2rem(610)}
@mixin ml-61 { margin-left: px2rem(620)}
@mixin ml-62 { margin-left: px2rem(630)}
@mixin ml-63 { margin-left: px2rem(640)}
@mixin ml-64 { margin-left: px2rem(650)}

@mixin text-1 {font-size: px2rem(10)}
@mixin text-2 {font-size: px2rem(20)}
@mixin text-3 {font-size: px2rem(30)}
@mixin text-4 {font-size: px2rem(40)}
@mixin text-5 {font-size: px2rem(50)}
@mixin text-6 {font-size: px2rem(60)}
@mixin text-7 {font-size: px2rem(70)}
@mixin text-8 {font-size: px2rem(80)}
@mixin text-9 {font-size: px2rem(90)}
@mixin text-10 {font-size: px2rem(100)}
@mixin text-11 {font-size: px2rem(110)}
@mixin text-12 {font-size: px2rem(120)}
@mixin text-13 {font-size: px2rem(130)}
@mixin text-14 {font-size: px2rem(140)}
@mixin text-15 {font-size: px2rem(150)}
@mixin text-16 {font-size: px2rem(160)}
@mixin text-17 {font-size: px2rem(170)}
@mixin text-18 {font-size: px2rem(180)}
@mixin text-19 {font-size: px2rem(190)}
@mixin text-20 {font-size: px2rem(200)}
@mixin text-21 {font-size: px2rem(210)}
@mixin text-22 {font-size: px2rem(220)}
@mixin text-23 {font-size: px2rem(230)}
@mixin text-24 {font-size: px2rem(240)}
@mixin text-25 {font-size: px2rem(250)}
@mixin text-26 {font-size: px2rem(260)}
@mixin text-27 {font-size: px2rem(270)}
@mixin text-28 {font-size: px2rem(280)}
@mixin text-29 {font-size: px2rem(290)}
@mixin text-30 {font-size: px2rem(300)}
@mixin text-31 {font-size: px2rem(310)}
@mixin text-32 {font-size: px2rem(320)}
@mixin text-33 {font-size: px2rem(330)}
@mixin text-34 {font-size: px2rem(340)}
@mixin text-35 {font-size: px2rem(350)}
@mixin text-36 {font-size: px2rem(360)}
@mixin text-37 {font-size: px2rem(370)}
@mixin text-38 {font-size: px2rem(380)}
@mixin text-39 {font-size: px2rem(390)}
@mixin text-40 {font-size: px2rem(400)}
@mixin text-41 {font-size: px2rem(410)}
@mixin text-42 {font-size: px2rem(420)}
@mixin text-43 {font-size: px2rem(430)}
@mixin text-44 {font-size: px2rem(440)}
@mixin text-45 {font-size: px2rem(450)}
@mixin text-46 {font-size: px2rem(460)}
@mixin text-47 {font-size: px2rem(470)}
@mixin text-48 {font-size: px2rem(480)}
@mixin text-49 {font-size: px2rem(490)}
@mixin text-50 {font-size: px2rem(500)}
@mixin text-51 {font-size: px2rem(510)}

@mixin border-0 {border: px2rem(0) }
@mixin border-1 {border: px2rem(1) }
@mixin border-2 {border: px2rem(2) }
@mixin border-3 {border: px2rem(3) }
@mixin border-4 {border: px2rem(4) }
@mixin border-5 {border: px2rem(5) }
@mixin border-6 {border: px2rem(6) }
@mixin border-7 {border: px2rem(7) }
@mixin border-8 {border: px2rem(8) }
@mixin border-9 {border: px2rem(9) }
@mixin border-10 {border: px2rem(10) }
@mixin border-11 {border: px2rem(11) }
@mixin border-12 {border: px2rem(12) }
@mixin border-13 {border: px2rem(13) }

@mixin rounded { border-radius: px2rem(40); }


@mixin text-gray-50 { color: #F9FAFB }
@mixin text-gray-100 { color: #F3F4F6 }
@mixin text-gray-200 { color: #E5E7EB }
@mixin text-gray-300 { color: #D1D5DB }
@mixin text-gray-400 { color: #9CA3AF }
@mixin text-gray-500 { color: #6B7280 }
@mixin text-gray-600 { color: #4B5563 }
@mixin text-gray-700 { color: #374151 }
@mixin text-gray-800 { color: #1F2937 }
@mixin text-gray-900 { color: #111827 }


@mixin border-gray-50 { border-color: #F9FAFB }
@mixin border-gray-100 { border-color: #F3F4F6 }
@mixin border-gray-200 { border-color: #E5E7EB }
@mixin border-gray-300 { border-color: #D1D5DB }
@mixin border-gray-400 { border-color: #9CA3AF }
@mixin border-gray-500 { border-color: #6B7280 }
@mixin border-gray-600 { border-color: #4B5563 }
@mixin border-gray-700 { border-color: #374151 }
@mixin border-gray-800 { border-color: #1F2937 }
@mixin border-gray-900 { border-color: #111827 }

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}


@mixin borderFocus {
  transition: all 0.3s ease;
  &:focus{
    border-color: #40a9ff;
    border-right-width: 1px!important;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    outline: 0;
  }
}
